<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.gob.afirma"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    <supports-screens android:smallScreens="true" />
    <supports-screens android:normalScreens="true" />
    <supports-screens android:largeScreens="true" />
    <supports-screens android:xlargeScreens="true" />
    <supports-screens android:anyDensity="true" />
    
    <!--  Permisos para el uso de SSCD en MSC -->
    <!-- <uses-permission android:name="org.simalliance.openmobileapiAET.SMARTCARD"/>  -->
	<!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
	<!--  Fin permisos para el uso de SSCD en MSC -->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CertChooserActivity"
            android:label="@string/title_activity_cert_chooser" >
        </activity>
        <activity
            android:name=".SignDataActivity"
            android:finishOnCloseSystemDialogs="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_sign_data"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="afirma" />
            </intent-filter>
        </activity>
        <!--  Para uso SSCD en MSC -->
        <!-- <uses-library android:name="org.simalliance.openmobileapiAET" android:required="false"/> -->
        <!--  Fin para uso SSCD en MSC -->
    </application>

</manifest>