[Desktop Entry]
Version=1.5
Name=AutoFirma
Type=Application
Terminal=false
Categories=Office;Utility;Java
Exec=/usr/bin/autofirma %u
Icon=/usr/lib/AutoFirma/AutoFirma.png
GenericName=Herramienta de firma
MimeType=x-scheme-handler/afirma;
StartupNotify=true
StartupWMClass=autofirma
Name[es_ES]=AutoFirma

