<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.gob.afirma.android.signfolder"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation|screenSize" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".PetitionListActivity"
            android:label="@string/title_unresolved_petition_list"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>

        <activity
            android:name=".PetitionDetailsActivity"
            android:label="@string/title_activity_request_details"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        
        <activity
            android:name=".FileChooserActivity"
            android:label="@string/title_activity_cert_chooser" >
        </activity>
    </application>

</manifest>