<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
  <display-name>SignatureRetrieverServer</display-name>
  <servlet>
    <description>Servicio para la recuperacion de firmas v1.3</description>
    <servlet-name>RetrieveService</servlet-name>
    <servlet-class>es.gob.afirma.signfolder.server.proxy.RetrieveService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveService</servlet-name>
    <url-pattern>/RetrieveService</url-pattern>
  </servlet-mapping>
</web-app>